/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
 
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
}

.checkbox input {
	display: none;
}
.checkbox span {
	display: inline-block;
	cursor: pointer;
	height: 200px; /* Ajuste de la altura */
	width: 200px; /* Ajuste del ancho */
	background-color: transparent;
	border-radius: 8px;
	border: 2px solid #1277f3;
	transform: rotate(-90deg);
	transition: all 0.3s;
}
.checkbox span:after {
	content: "\2713";
	color: #fff;
}
.checkbox input:checked ~ span {
	background-color: #1298f3;
	border-radius: 8px;
	transform: rotate(0deg);
	opacity: 1;
	border: 2px solid #1298f3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.checkbox input:checked ~ span:after {
	content: "\2713";
	color: #fff;
}
.checkbox-wrap1{

  position: absolute;
  top: 40%;
  right: -10%;
}
#idpanellogin {
  
  position: absolute;
  top: 30%;
  right: -50%;
 /*  background-image: linear-gradient(
    355deg,
    hsl(240deg 8% 91%) 0%,
    hsl(240deg 7% 90%) 12%,
    hsl(240deg 6% 89%) 20%,
    hsl(240deg 5% 89%) 27%,
    hsl(240deg 4% 88%) 32%,
    hsl(240deg 3% 87%) 37%,
    hsl(240deg 2% 87%) 43%,
    hsl(240deg 1% 86%) 49%,
    hsl(240deg 1% 86%) 59%,
    hsl(0deg 0% 85%) 88%
  ); */
  width: 300px;
  height: 350px;
  z-index: 10000;
  background-color: #ffffff28;
  display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  -webkit-box-shadow: 50px 0px 50px 6px #808080; 
  box-shadow: 50px 0px 50px 6px #808080;
}
 
.gridcsgl  {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "n1 i1"
    "n2 i2"
    ". bt1";
}
.anchalto{
  position: relative;
  width: 100%;
  height:100%;
}
.n1 { grid-area: n1; }

.i1 { grid-area: i1; }

.n2 { grid-area: n2; }

.i2 { grid-area: i2; }

.bt1 { grid-area: bt1; }

.centerg1{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.original-border {
 
  border-right: 30px solid #1C6EA4;
  border-radius: 0px 40px 40px 0px;
}

.css-input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75); 
}
.css-input:focus {
  outline:none;
}

.clfalsebt{
  width: 80px;
  height: 80px;
  border-radius: 45%;
  background-color: #000000b2;
 color: #91ceff;

 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 align-content: center;
 cursor: pointer;
}

.Actualizar{
  position: absolute;
  bottom: -10%;
  width: 80px;
  height: 30px; 
  background-color: #000000b2;
 color: #91ceff;

 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 align-content: center;

 cursor: pointer;
}
.Actualizar:hover{
  color: #1277f3;
}

.centrarColumna{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}










 
 

.hard {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 300px;
}
.cl1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    
}






#libro {
  position: relative;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.pagina {
  border: 4px solid rgb(139, 139, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  position: relative;
  width: 90%;
  height: 100%;
}
/*      input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  margin: 20px auto;
  display: block;
} */
/*       button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  cursor: pointer;
  margin: 20px auto;
  display: block;
} */
.clp1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}
#contenedor{

  width: 80%;
  height: 100%;
  background-color: rgb(201, 201, 201);
  position: absolute;
  bottom: 0%;
  left: 15%;
  z-index: 2;
 


}
.centrarcontenido{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.clconten {
  width: 80%;
  height: 100%;
  background-color: rgb(201, 201, 201);
  position: absolute;
  bottom: 0%;
  left: 15%;
  z-index: 2;

  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#idblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50vw;
  height: 100%;
  background-color: rgba(1, 141, 255, 0.5);
  background: rgba(255, 255, 255, 0.3); /* Color de fondo translúcido */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Aplicar efecto de desenfoque */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Para navegadores webkit (Safari, Chrome) */
  background: linear-gradient(
    to bottom,
    rgba(201, 231, 255, 0.5),
    rgba(1, 141, 255, 0.5)
  );
  z-index: 100;
}
.contenedrpaginas {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(226, 124, 0);
}
.classnone {
  display: none;
}

.placa-metalica {
  width: 120px;
  height: 50px;
  background: linear-gradient(to bottom right, #eaeaea, #bdbdbd);
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 20px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
}




 
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 .claltoauto{
  height: auto;
  width: 100%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
 }
 .clboxt{
  color: #3490ff;  
  min-height: 40px;
  padding-top: 22px;
  padding-left:70px ;
  font-size: 44px;
 }

 .clboxp{ 
  color: #000000;
  text-align: justify;
  line-height:16px ;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(197, 197, 197) 100%);
  font-size: 16px;
  text-align: justify;
  height: auto;
  width: 80%;
 padding-left: 70px;
 }

 #idmenulateralbase{
  position: absolute;
  top: 30%;
  left: 40px;
  width: 60px;
   background-color:#afafaf33 ;
height: 400px;
 
  z-index: 1000;
 }
 
 

 .cluifalse{

  color: #ffffff00;
  font-size: 66px; 
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 60px;
  height: 60px;
 }

 .cicleicon{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

  background-color: #ffffff;
  font-size: 33px;
  color: #4d4d4d;
  width:44px;
  height: 44px;
 cursor: pointer;
 transition: border-radius 0.7s ease; /* Transición suave */
 -webkit-box-shadow: 5px 5px 50px 9px #999999; 
 box-shadow: 5px 5px 50px 9px #999999;

 }
 .cicleicon:hover{
  border-radius: 40px 40px 40px 40px;
  
 }
 
.cicleicon:focus {
 /* Cambia el color de fondo cuando se pasa el cursor o se enfoca */
}
.cicleiconColor {
  background-color: #95cfff; /* Cambia el color de fondo cuando se pasa el cursor o se enfoca */
}